/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  position: relative;
  width   : 100%;
  height  : 100%;

  user-select: none;

  --background: url("https://www.dmoe.cc/random.php");
}

body .card {
  overflow: visible;
}
